@font-face{font-family:"JQSerif";font-weight:700;font-style:normal;font-display:swap;src:url("JQSerif-700.woff2") format("woff2")}
@font-face{font-family:"JQSerif";font-weight:900;font-style:normal;font-display:swap;src:url("JQSerif-900.woff2") format("woff2")}
@font-face{font-family:"JQSans";font-weight:400;font-style:normal;font-display:swap;src:url("JQSans-400.woff2") format("woff2")}
@font-face{font-family:"JQSans";font-weight:500;font-style:normal;font-display:swap;src:url("JQSans-500.woff2") format("woff2")}
@font-face{font-family:"JQSans";font-weight:700;font-style:normal;font-display:swap;src:url("JQSans-700.woff2") format("woff2")}
@font-face{font-family:"JQMono";font-weight:400;font-style:normal;font-display:swap;src:url("JQMono-400.woff2") format("woff2")}
@font-face{font-family:"JQMono";font-weight:700;font-style:normal;font-display:swap;src:url("JQMono-700.woff2") format("woff2")}
