@font-face{font-family:"OVSerif";font-weight:700;font-style:normal;font-display:swap;src:url("OVSerif-700.woff2") format("woff2")}
@font-face{font-family:"OVSerif";font-weight:900;font-style:normal;font-display:swap;src:url("OVSerif-900.woff2") format("woff2")}
@font-face{font-family:"OVSans";font-weight:400;font-style:normal;font-display:swap;src:url("OVSans-400.woff2") format("woff2")}
@font-face{font-family:"OVSans";font-weight:500;font-style:normal;font-display:swap;src:url("OVSans-500.woff2") format("woff2")}
@font-face{font-family:"OVSans";font-weight:700;font-style:normal;font-display:swap;src:url("OVSans-700.woff2") format("woff2")}
@font-face{font-family:"OVMono";font-weight:400;font-style:normal;font-display:swap;src:url("OVMono-400.woff2") format("woff2")}
@font-face{font-family:"OVMono";font-weight:700;font-style:normal;font-display:swap;src:url("OVMono-700.woff2") format("woff2")}
